:root {
    /* Uniform and limited separation for containers */
    --page-padding: max(2rem, 5vw);
    /* Global width for containers */
    --max-width-pc: 1200px;
    /* Device sizes */
    --mobile-media: 640px;
    --tablet-media: 1024px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--header-bg) transparent;
}

/* Fixes header overlap when anchor scrolls */
section[id] {
    scroll-margin-top: 7rem;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg: white;
    --header-bg: rgba(235, 235, 235, 0.7);
    --text: black;
}

.dark {
    --bg: #212830;
    --header-bg: rgba(10, 15, 30, 0.7);
    --text: #d1d7e0;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    transition:
        background 0.3s,
        color 0.3s;
}
